.Founders-Style{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2%;
}
.Founders-Display-Style{
    margin: 0.1%;
}
.Founders-Display-Style > img{
    border-radius: 50%;
    height: 250px;
    width: 250px;
}
@media screen and (max-width: 992px) {
    .Founders-Style{ 
        display: flex;
        flex-direction: column;
    }
  }