.Model-Style {
    padding: 3%;
    display: flex;
    flex-direction: column;
}
 .Model-Style > input[type=text] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    padding: 0 8px;
    box-sizing: border-box;
}
.Model-button-style{
    text-decoration: none;
    border: 0px;
    color: #fff;
    background-color: #3b9ab0;
    font-size: 16px;
    margin-right: 1%;
  }
.model_close_button_style{
    border: 0px;
    background-color: #fff;
    float: right;
}