.newsLetter_section{
  display: flex;
  flex-direction: column;
}
.newsLetter_msg_section_style{
  background-color: #29282c;
}
.newsLetter_section_style{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #29282c;
    color: white;
  }
  #newsLetter_section_style_partone{
   width: 50%;
   align-self: center; 
   font-size: 30px;
   font-weight: 300;
  }
  #newsLetter_section_style_partone > p{
    color: #ffab25;
  }
  #newsLetter_section_style_parttwo{
   width: 50%;
   align-self: center; 
   font-size: 33px;
   font-weight: 290;
  }
  #newsLetter_input_field{
    border: 1px solid #ffffff;
    height: 50px;
    width: 70%;
    border-radius: 5px;
  }
  #newsLetter_button{
    vertical-align: bottom;
    text-align: center;
    color: rgb(233, 71, 71);
    border: none;
    outline: 0;
    font-size: xx-large;
    background-color: #29282c;
  }
  @media screen and (max-width: 992px) {
    .newsLetter_section_style{
      display: flex;
      flex-direction: column;
      padding: 2%;
    }
    #newsLetter_section_style_partone{
      width: auto;
     }
    #newsLetter_section_style_parttwo{
      width: 100%;
     }
  }