.Work-Grid-Style{
    background-color: whitesmoke;
    text-align: justify;
}
.Work-Grid-Content-Style{
    padding: 5%;
}
.Work-Grid-Content-Style > h1{
    padding-bottom: 5%;
}
@media only screen and (max-width: 992px) {
    .Work-Grid-Content-Style > h1{
        text-align: center;
    }
 
  }